.product-details-non-ring {
  padding-top: 60px;
}
.product-static-desc-info-section p {
    text-align: center;
    margin: 80px auto 0px;
    padding: 60px 20px;
    font-size: 1.5625rem;
    line-height: 1.6;
    font-family: 'Janson Text',Times,'Times New Roman',serif;
    width: 87%;
  }

  .product-static-desc-info-section a {
    border-bottom: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #7d7d7d;
    letter-spacing: 1.5px;
    font-size: .8125000000000001rem;
    line-height: 1.53846154;
    cursor: pointer;
  }

/* Custom navigation buttons */


.owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    left: 10px;
}

.owl-nav .owl-next {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    right: 10px;
}

.vca-pdp-material, .vca-pdp-price-info, .vca-pdp-tax-info {
  color: #757575;
}

.vca-mb-10 {
  margin-bottom: 10px;
}

.vca-capital-link {
  font-size: .8125000000000001rem;
  line-height: 1.53846154;
  text-transform: uppercase;
  color: #757575;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-decoration: none;
}
.vca-link-seprator::before {
  content: '|';
  color: #757575;
  padding: 0 8px;
}