.cart-page .link-button {
    border: none;
    background: transparent;
}
.cart-page .link-button:hover {
    border-bottom: 1px solid black;
    background: transparent;
}
.cart-page .cart-page-noproduct button {
    border-bottom: 1px solid black;
    background: transparent;
}

.list-disc-style li{
    margin: 3px;
    font-family: JansonText;
    text-align: left;
}

.list-circle-style li {
    margin: 5px 5px 5px 15px;
    font-family: JansonText;
}

.product-summary {

}